body {
  max-width: 1024px;
  min-width: 320px;
  font-family: Verdana, Geneva, sans-serif; }
  body ul {
    padding: 0px; }
  body p {
    margin: 0px; }
  body a {
    color: inherit;
    text-decoration: none;
    cursor: pointer; }
  body .contacts-list .contacts-list__header {
    display: block;
    height: 67px;
    border: 1px solid #D3D3D3;
    background: #f9f9f9; }
    body .contacts-list .contacts-list__header p {
      text-align: center;
      line-height: 67px;
      text-transform: capitalize;
      font-weight: bold; }
  body .contacts-list li {
    list-style: none;
    height: 110px;
    padding-left: 24px;
    border: 1px solid #D3D3D3;
    box-shadow: 0px 24px 3px -24px #D3D3D3;
    border-top: none;
    border-bottom: none; }
    body .contacts-list li a {
      display: block;
      width: 100%;
      height: 100%;
      margin: 0; }
    body .contacts-list li .list__img-small-portrait {
      float: left;
      padding-right: 16px;
      padding-top: 24px;
      width: 60px;
      height: 60px; }
    body .contacts-list li .contacts-list__wrap {
      padding-top: 24px;
      display: block;
      overflow: hidden; }
      body .contacts-list li .contacts-list__wrap .list__name {
        padding-top: 4px; }
        body .contacts-list li .contacts-list__wrap .list__name .list__img-favorite-true {
          float: left;
          padding-right: 4px;
          vertical-align: middle;
          height: 14px;
          width: 16px; }
    body .contacts-list li .list__company {
      float: left;
      padding-left: 20px;
      color: rgba(0, 0, 0, 0.4); }
  body .contacts-list .contacts-list__favorites .contacts-list__favorites__header {
    height: 26px;
    border: 1px solid #D3D3D3;
    border-top: none;
    border-bottom: none;
    background: #f9f9f9; }
    body .contacts-list .contacts-list__favorites .contacts-list__favorites__header p {
      padding-left: 12px;
      line-height: 26px;
      text-transform: uppercase;
      font-weight: bold; }
  body .contacts-list .contacts-list__other li:last-of-type {
    box-shadow: none;
    border-bottom: 1px solid #D3D3D3; }
  body .contacts-list .contacts-list__other .contacts-list__other__header {
    height: 26px;
    border: 1px solid #D3D3D3;
    border-top: none;
    border-bottom: none;
    background: #f9f9f9; }
    body .contacts-list .contacts-list__other .contacts-list__other__header p {
      padding-left: 12px;
      line-height: 26px;
      text-transform: uppercase;
      font-weight: bold; }
  body .contacts-list .contacts-list__other .list__name {
    display: block;
    padding-top: 4px;
    padding-left: 20px; }
  body .contacts-list .contacts-list__other .list__company {
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.4); }
