body {
	max-width: 1024px;
	font-family: Verdana, Geneva, sans-serif;
	ul {
    padding: 0;
    margin: 0;  
  }
  li {
  	list-style: none;
  }
  p {
    margin: 0px;
  }
	.contacts {
		.contacts__header {
				display: block;
		    height: 67px;
		    border: 1px solid #D3D3D3;
		    background: #f9f9f9;
		    .contacts__header__wrap {
		    	display: block;
		    	padding-top: 36px;
		    	padding-left: 10px;
		    	padding-right: 10px;		
		   		 .fa-angle-left {
		    		float: left;
		    		font-size: 20px;
		    		color: #51a0d5;
		    	}
		    	.contacts__header__title {
		     	 float: left;
		     	 padding-left: 4px;
		     	 color: #51a0d5;
		     	 font-weight: 550;   	
		    	}
		    	.contacts__header__img-favorite-true {
		    		float: right;
		    	}	 	
		    }	   
		}
		.contacts__picture {
			border: 1px solid #D3D3D3;
			box-shadow: 0px 24px 3px -24px #D3D3D3; 
			border-top: none;     
    		border-bottom: none;			
			.contacts__picture__img-big-portrait {
				display: block;
				margin-left: auto;
				margin-right: auto;
				padding-top: 26px;
				height: 150px;
				width: 150px;
			}
			p {
				text-align: center;
				margin: 0;		
			}
			.contacts__picture__full-name {
				font-size: 30px;
				padding-top: 24px;
			}
			.contacts__picture__company-name {
				padding-top: 10px;
				padding-bottom: 26px;
				color: rgba(0, 0, 0, 0.4);
			}
		}
		.contacts__data {
			li {
				border: 1px solid #D3D3D3;
				box-shadow: 0px 24px 3px -24px #D3D3D3; 
				border-top: none;     
      	border-bottom: none;
      	&:last-of-type {
        box-shadow: none;
        border-bottom: 1px solid #D3D3D3;
      }
			}
			.contacts__data__title { 
				text-transform: uppercase;
				color: rgba(0, 0, 0, 0.4);
				font-weight: 600;
				display: block;
				padding: 20px;
				padding-top: 30px;
			}
			.contacts__data__wrap {
				display:block;
				padding-bottom: 26px;
				padding-left: 20px;
				padding-right: 20px;
				white-space: nowrap;
      	text-overflow: ellipsis;      	      
      	overflow: hidden;
			}
			.contacts__data__phone {				
				.contacts__data__phone__phone {
					font-weight: 600;
					display: inline-block;
				}				
				.contacts__data__phone__where {
					display: inline-block;
					color: rgba(0, 0, 0, 0.4);
					float: right;						
				}								
			}
			.contacts__data__adress {			
				.contacts__data__adress__first {
					font-weight: 600;
				}
				.contacts__data__adress__second {
					font-weight: 600;
				}				
			}
			.contacts__data__birthdate {
				font-weight: 600;
			}
			.contacts__data__email {
				font-weight: 600;
				overflow: hidden;
			}
		}
	}
}