body {
  max-width: 1024px;
  min-width: 320px;
  font-family: Verdana, Geneva, sans-serif;
  ul {
    padding: 0px;    
  }
  p {
    margin: 0px;   
  }
  a {
    color: inherit;  
    text-decoration: none;
    cursor: pointer;
  }
  .contacts-list {        
    .contacts-list__header {
      display: block;
      height: 67px;
      border: 1px solid #D3D3D3;
      background: #f9f9f9;
      p {
        text-align: center;
        line-height: 67px;
        text-transform: capitalize;
        font-weight: bold;
      }
    }
    li {
      list-style: none;
      height: 110px;      
      padding-left: 24px;      
      border: 1px solid #D3D3D3;
      box-shadow: 0px 24px 3px -24px #D3D3D3; 
      border-top: none;
      border-bottom: none;
      a {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
      }   
      .list__img-small-portrait {
        float:left;
        padding-right: 16px;
        padding-top: 24px;
        width: 60px;
        height: 60px;
      }
      .contacts-list__wrap {
        padding-top: 24px;
        display: block;
        overflow: hidden;
        .list__name {
          padding-top: 4px;
          .list__img-favorite-true {
            float: left;        
            padding-right: 4px;
            vertical-align: middle;
            height: 14px;
            width: 16px;
          }
        }
      }      
      .list__company {
        float: left;
        padding-left: 20px;
        color: rgba(0, 0, 0, 0.4);
      }     
    }   
    .contacts-list__favorites {                
      .contacts-list__favorites__header {
        height: 26px;
        border: 1px solid #D3D3D3;
        border-top: none;
        border-bottom: none;
        background: #f9f9f9;
        p {
          padding-left: 12px;
          line-height: 26px;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
    .contacts-list__other {
      li:last-of-type {
        box-shadow: none;
        border-bottom: 1px solid #D3D3D3;
      }
      .contacts-list__other__header {
        height: 26px;
        border: 1px solid #D3D3D3;
        border-top: none;
        border-bottom: none;
        background: #f9f9f9;
        p {
          padding-left: 12px;
          line-height: 26px;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
      .list__name {        
        display: block;
        padding-top: 4px;
        padding-left: 20px;        
      }
      .list__company {        
        padding-left: 20px;
        color: rgba(0, 0, 0, 0.4);        
      }
    }
  }
}
